{% extends 'base.html' %}
{% load static %}
{% block title %}محصول {{product.title}}{% endblock title %}

{% block content %}

    <!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                  <div class="product-image">
                        <div class="product_img_box">
                            <img id="product_img" src="{{product.image.url}}" data-zoom-image="{{product.image.url}}" alt="{{product.product.title}}" />
                            <a href="#" class="product_img_zoom" title="Zoom">
                                <span class="linearicons-zoom-in"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="pr_detail">
                        <div class="product_description">
                            <h4 class="product_title"><a href="#">{{product.title}}</a></h4>
                            <div class="product_price">
                                <span class="price">{{product.total_price}} تومان</span>
                                {% if product.discount != 0 %}
                                <del>{{product.price}} تومان</del>
                                <div class="on_sale">
                                    <span>٪{{product.discount}} تخفیف</span>
                                </div>
                                {% endif %}
                            </div>
                            <div class="rating_wrap">
                                    <div class="rating">
                                        <div class="product_rate" style="width:80%"></div>
                                    </div>
                                    <span class="rating_num">(21)</span>
                                </div>
                            <div class="pr_desc">
                                <p>{{product.product.description|safe|truncatechars:50}}</p>
                            </div>
                            <div class="product_sort_info">
                                <ul>
                                    <li><i class="linearicons-shield-check"></i> 1 سال ضمانت برند الجزیره</li>
                                    <li><i class="linearicons-sync"></i> 30 روز برگشت</li>
                                    <li><i class="linearicons-bag-dollar"></i> پرداخت نقدی موجود است</li>
                                </ul>
                            </div>
                            {% if product.color %}
                            <div class="pr_switch_wrap">
                                <span class="switch_lable">رنگ</span>
                                <div class="product_color_switch">
                                    <span data-color="{{product.color.code}}"></span>
                                </div>
                            </div>
                            {% endif %}
                            {% if product.size %}
                            <div class="pr_switch_wrap">
                                <span class="switch_lable">سایز</span>
                                <div class="product_size_switch">
                                    <span>xs</span>
                                    <span>s</span>
                                    <span>m</span>
                                    <span>l</span>
                                    <span>xl</span>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <hr />
                        <div class="cart_extra">
                            <form method="post" action="{% url 'orders:cart_add' product.id %}" class="cart_btn">
                                {% csrf_token %}
                                {{cart_form.quantity}}
                                <button class="btn btn-fill-out btn-addtocart" type="submit"><i class="icon-basket-loaded"></i> افزودن به سبد خرید</button>
                            </form>
                        </div>
                        <hr />
                        <ul class="product-meta">
                            <li>دسته بندی: 
                                {% for category in product.product.category.all %}
                                <a href="{{category.get_absolute_url}}">{{category.title}}</a>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="large_divider clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="tab-style3">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="Description-tab" data-toggle="tab" href="#Description" role="tab" aria-controls="Description" aria-selected="true">توضیحات</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="Reviews-tab" data-toggle="tab" href="#Reviews" role="tab" aria-controls="Reviews" aria-selected="false">نظرات ({{comments.count}})</a>
                              </li>
                        </ul>
                        <div class="tab-content shop_info_tab">
                              <div class="tab-pane fade show active" id="Description" role="tabpanel" aria-labelledby="Description-tab">
                                <p>{{product.product.description|safe}}</p>
                              </div>
                              <div class="tab-pane fade" id="Reviews" role="tabpanel" aria-labelledby="Reviews-tab">
                                <div class="comments">
                                    <div class="review_form field_form">
                                        <h5>ارسال نظرات</h5>
                                        <h5 class="product_tab_title">{{comments.count}} نظر برای <span>لباس آبی زنانه</span></h5>
                                        <form method="post" class="row mt-3">
                                            {% csrf_token %}
                                            <div class="form-group col-12">
                                                {{form.body}}
                                            </div>
                                            <div class="form-group col-12">
                                                <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">ارسال نظر</button>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="list_none comment_list mt-4">
                                        {% for comment in comments %}
                                        <li>
                                            <div class="comment_img">
                                                <img src="{{comment.user.profile.image.url}}" alt="user1"/>
                                            </div>
                                            <div class="comment_block">
                                                <p class="customer_meta">
                                                    <span class="review_author">{{comment.user.profile.full_name}}</span>
                                                    <span class="comment-date">{{comment.jcreated}}</span>
                                                </p>
                                                <div class="description">
                                                    <p>{{comment.body}}</p>
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="small_divider"></div>
                    <div class="divider"></div>
                    <div class="medium_divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="heading_s1">
                        <h3>محصولات مرتبط</h3>
                    </div>
                    <div class="releted_product_slider carousel_slider owl-carousel owl-theme" data-margin="20" data-responsive='{"0":{"items": "1"}, "481":{"items": "2"}, "768":{"items": "3"}, "1199":{"items": "4"}}'>
                        {% for product in related_products %}
                        <div class="item">

                            <div class="product">
                                <div class="product_img">
                                    <a href="shop-product-detail.html">
                                        <img src="{{product.image.url}}" alt="product_img1">
                                    </a>
                                    <div class="product_action_box">
                                        <ul class="list_none pr_action_btn">
                                            <li class="add-to-cart"><a href="#"><i class="icon-basket-loaded"></i> افزودن به سبد خرید</a></li>
                                            <li><a href="shop-compare.html"><i class="icon-shuffle"></i></a></li>
                                            <li><a href="shop-quick-view.html" class="popup-ajax"><i class="icon-magnifier-add"></i></a></li>
                                            <li><a href="#"><i class="icon-heart"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <h6 class="product_title"><a href="shop-product-detail.html">لباس آبی زنانه</a></h6>
                                    <div class="product_price">
                                        <span class="price">45000 تومان</span>
                                        <del>55000 تومان</del>
                                        <div class="on_sale">
                                            <span>٪35 تخفیف</span>
                                        </div>
                                    </div>
                                    <div class="rating_wrap">
                                        <div class="rating">
                                            <div class="product_rate" style="width:80%"></div>
                                        </div>
                                        <span class="rating_num">(21)</span>
                                    </div>
                                    <div class="pr_desc">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله.</p>
                                    </div>
                                    <div class="pr_switch_wrap">
                                        <div class="product_color_switch">
                                            <span class="active" data-color="#87554B"></span>
                                            <span data-color="#333333"></span>
                                            <span data-color="#DA323F"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SECTION SHOP -->
    
    
    </div>
    <!-- END MAIN CONTENT -->

{% endblock content %}