{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}فراموشی رمز عبور{% endblock title %}

{% block content %}

<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START LOGIN SECTION -->
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>ایجاد یک حساب کاربری</h3>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{form|crispy}}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block" name="register">ورود</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGIN SECTION -->
    
    </div>
    <!-- END MAIN CONTENT -->

{% endblock content %}