{% extends 'base.html' %}
{% block title %}ثبت نام{% endblock title %}

{% block content %}

    
    <!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START LOGIN SECTION -->
    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>ایجاد یک حساب کاربری</h3>
                            </div>
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{form.email}}
                                    {% if form.email.errors %}
                                    <ul class="alert alert-danger text-center">{{form.email.errors}}</ul>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{form.phone}}
                                </div>                                
                                <div class="form-group">
                                    {{form.username}}
                                    {% if form.username.errors %}
                                    <ul class="alert alert-danger text-center">{{form.username.errors}}</ul>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{form.password}}
                                    {% if form.password.errors %}
                                    <ul class="alert alert-danger text-center">{{form.password.errors}}</ul>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{form.confirm_password}}
                                    {% if form.password.errors %}
                                    <ul class="alert alert-danger text-center">{{form.confirm_password.errors}}</ul>
                                    {% endif %}
                                </div>                                
                                <div class="form-group">
                                    <button type="submit" class="btn btn-fill-out btn-block" name="register">ثبت نام</button>
                                </div>
                            </form>
                            <div class="different_login">
                                <span> یا</span>
                            </div>
                            <ul class="btn-login list_none text-center">
                                <li><a href="#" class="btn btn-google"><i class="ion-social-googleplus"></i>گوگل</a></li>
                            </ul>
                            <div class="form-note text-center">حساب کاربری دارید؟ <a href="{% url 'account:login' %}">وارد شوید</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END LOGIN SECTION -->
    
    </div>
    <!-- END MAIN CONTENT -->

{% endblock content %}